<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- HandlerMappping HandlerAdapter View를 다 포함하고 있는 것이다. mvc:annotation-driven -->
	<mvc:annotation-driven />
	
	<!-- 
		ViewResolver를 만든것이다. 
		RequestDispatcher.forward(); 와 같은 것이다. 사용자에게 보여줄 화면을 만들어서 보여주는것이다.
	-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- Controller가 만들어지면 반드시 추가해야한다. -->
	<bean id="indexController" class="com.ktds.jmj.web.IndexController" />
	
	<bean id="articleController" class="com.ktds.jmj.web.ArticleController" />
	
</beans>
