<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 모두 객체화 된다.  -->
	<!-- LoginDAOImpl loginDAO = new LoginDAOImpl(); -->
	<bean id="loginDAO"
		class="com.ktds.jmj.LoginDAOImpl"></bean>
		
	<!-- LoginBizImpl loginBiz = new LoginBizImpl(); -->	
	<bean id="loginBiz"
		class="com.ktds.jmj.LoginBizImpl">
		<!-- loginBiz.setLoginDAO(loginDAO); 와같다. 
		property는 setter을 의미한다. ref는 파라미터 -->
		<property name="loginDAO" ref="loginDAO" />
		</bean>

</beans>
